body.front .progettirecentiblkcls h3.block-title{
	padding-bottom: 5px;
	border-bottom: 1px solid black;
}

body.front .progettirecentiblkcls .singoloprogettocls{
	width: 400px;
	position: relative;
	display:inline-block;
	margin-top: 15px;
	height: 480px;
}

body.front .progettirecentiblkcls .singoloprogettocls:nth-child(2){
	float: right;
}

body.front .progettirecentiblkcls .singoloprogettocls .datainizioprogettocls span::before{
	font-family: FontAwesome;
	content: "\f017";
	margin-right: 5px;
    /*content: "\f095";*/
}

body.front .progettirecentiblkcls .singoloprogettocls .titoloprogettocls a{
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

 body.front .progettirecentiblkcls .singoloprogettocls .corpoprogcls{
	 position: absolute; 
	 bottom: 0px;
 }
 
 body.front .progettirecentiblkcls  .bxslide  .corpoprogcls{
	div{
		&.backgroundFotoProgettoCls{
			position: relative;
			display: flex;
			justify-content: space-around;
			.titleAndBodyCls{
				background: white;
				opacity: 0.73;
				text-align: left;
				width: 885px;
				margin: 0 auto;
				padding-left: 10px;
    			padding-right: 10px;
				position: absolute;
				bottom: 52px;
				.titoloProgettoCls{
					font: normal normal bold 21px Segoe UI;
					color:black;
					a{
						color: black;
						&:hover{
							color:  inherit;
						}
					}
				}
				.bodyProgettoCls{
					font: normal normal 15px Segoe UI;
				}
			}
			img{
				height: 700px !important;
				margin: 0 auto;
			}
		}
	}
 }

 body.front .progettirecentiblkcls .view-progetti-recenti {
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager{
		a{
			background: white !important;
			border: black 1px solid !important;
			&.active{
				background: black !important;
			}
		}
	}
	.bx-pager{
		position: absolute;
		bottom: 10px;
	}
	.bx-controls .bx-controls-direction{
		a{
			width: 31px;
			height: 50px;
			background: #F2F2F2 0% 0% no-repeat padding-box;
    		opacity: 0.71;
			&.bx-prev{
				left: 115px;
			}
			&.bx-next{
				right: 115px;
			}
			i.fa{
				border: none;
				line-height: 46px;
				&:before{
					color: black;
					font-size: 46px;
					font-weight: bold;
				}
				&.fa-angle-left{
					margin-left: -2px;
				}
				&.fa-angle-right{
					margin-left: 1px;
				}
			}
		}
	}

 }

 body.front .progettirecentiblkcls .singoloprogettocls .fotoprogcls{
	 position: absolute; 
	 top: 80px;
 }
 
  body.front .progettirecentiblkcls .singoloprogettocls .datainizioprogettocls{
	 position: absolute; 
	 top: 60px;
 }
 
 body.front .HomeOurNumbersCls {
	 div.stats{
		 &.firstElemCls{
			 div{
				 &.num{
					margin-top: 13px;
					color: #fc6a8d;
				 }
				 &.type{
					 text-transform: uppercase;
					 color: #555;
				 }
				 
			 }
		 }
		 &#dexp-stats--2{
			 div.num{
				 color:#5F8CB4;
			 }
		 }
		 &#dexp-stats--3{
			div.num{
				color:#2AAFC0;
			}
		}
		&#dexp-stats--4{
			div.num{
				color:#93cc48 ;
			}
		}
		&#dexp-stats--5{
			div.num{
				color:#ffbc00;
			}
		}						 
		 div{
			&.type{
				text-transform: uppercase;
				color: #555;
			}
			
		}		 
	 }
 }

 body.front .region-user3{
	.eapps-instagram-feed-container{
		max-height: 400px !important;
		overflow-y: scroll !important;
	}
 }

 body.front .region-map{
	 background: #eee;
 }

/** home **/
.slider-media .date .year{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
}
.slider-media .date .year span{
	color: white;
}

.slider-media .date .month{
	box-shadow: none;
	border-radius: 0;
}

.slider-post .slider-media {
	section.date{
		position: absolute;
		top: 0px;
		width: 100px;
		height: 400px;
		background: #F2B12E;
		span{
			background: none;
			&.day{
				font-weight: bold;
				font-size: 50px;
				padding: 12px 10px 0;
			}
			&.month{
				font-weight: bold;
				margin-top: 15px;
			}
			&.year{
				margin-top: 5px;
			}
		}
	}
}
.slider-post .bxslide{
	background: #FBE7BE !important;
	&:nth-child(2n+1){
		background: #D4E8D5 !important;
		section.date{
			background: #56A459;
		}
	}
}

.region-content-top  .main-headline{
	padding: 0px;
}

.region-content-top h3.block-title{
	margin-top: 0px;
	margin-bottom: 0px;
}

#section-page-title h1.page_title{
	font-size: 26px;
}

#section-header .dexp-dropdown > ul > li > a:focus{
	text-decoration: none;
	outline: none;
}


.front .slider-post .bx-viewport,
.front .slider-post .bx-viewport .bxslide{
	height: 400px !important;
}

 .front .slider-post .bx-viewport .bxslide .views-field-view-node{
	position: absolute;
	bottom: 10px;
	left: 105px;
}

 .front .slider-post .bx-viewport .bxslide .views-field-view-node a{
	/*padding: 4px 6px;
    border: 1px solid #5F8CB4;
	color: #5F8CB4;
	*/
	color: black;
	font-weight: bold;
    
}
 .front .slider-post .bx-viewport .bxslide .views-field-view-node  a:hover{
	/*background: #5F8CB4;
    color: #FFFFFF;
	*/
 }

.front .slider-post .bx-viewport .bxslide .views-field-view-node a:focus{
	text-decoration: none;
  }
  
.front .slider-post .bx-viewport .bxslide .views-field-body{
	width: 60%;
	font-size: 13px;
	position: absolute;
    left: 105px;
    top: 85px;
	font-size: 12px;
}

.front .slider-post .bx-viewport .bxslide .views-field-title{
	margin-top: 10px;
	font-weight: bold;
	position: absolute;
    left: 105px;
    top: -8px;
	line-height: 20px;
	font-size: 13px;
	a{
		color: black;
	}
}



.dexp-sticky.fixed{
	position: relative;
}

.dexp-shortcodes-button.line-color:hover a{
	color: white;
}

.dexp-shortcodes-button.btn a:focus{
	text-decoration: none;
}
#section-content-bottom-fourth
{
 background: #F2F4F6;
}
body.front #section-content-bottom-fourth{
	background: #fff;
	.main-headline {
		padding: 30px 0px 0px 0px;
		.block-title{
			text-transform: uppercase;	
			font: normal normal bold 23px/31px Segoe UI;
			margin-bottom: 0px;
			border-bottom: 13px solid #f2f2f2;	
			width: 90%;
			margin: 0 auto;
			margin-top: 40px;
		}
	}
}

#section-page-title
{
  //background-image: url(/sites/all/themes/evolve/assets/images/parallex-inner.jpg);
	background: #56A459 0% 0% no-repeat;
	opacity: 1;
	left: 0px;
	border-bottom: 5px solid #F2B12E;
	.container{
		margin: 18px auto !important;
	}
	.region-breadcrumb{
		.content{
			.breadcrumb{
				float: left;
				color: #fff;
			}
			a{
				color: #fff;
				&:first-child{
					margin-right: 15px;
				}
				&:nth-child(2){
					margin-left: 15px;
				}
				&:hover{
					color: #B9BEC3;
				}
			}
		}
	}
}

.region-user2  img{
	border-radius: 175px;
}

.galleryhomecls .bx-viewport
{
	height: 400px !important;
}

.view-gallery span.gallery-prev
{
	background: url("/sites/all/themes/evolve/assets/images/camera_skins.png") no-repeat scroll 0 0 rgba(216,216,216,0.85);
}

.view-gallery span.gallery-next
{
	background: url("/sites/all/themes/evolve/assets/images/camera_skins.png") no-repeat scroll -40px 0 rgba(216,216,216,0.85);
}

.front .view-blog .bxslide
{
	padding-left: 55px;
	background: white;
	width: 267px;
	margin-right: 20px;
}

.front .view-blog .bxslide .slider-media
{
	position: relative;
    left: -55px;
}

/** Section Header */
#section-header .site-logo img{
	width: 100px;
}

#section-header .dexp-dropdown ul ul li:hover,
#section-header .dexp-dropdown ul ul li:hover a{
    background-color:  #5F8CB4;
	color: white;
  }

#section-header{
	.dexp-dropdown > ul > li > a
	{
		&.active{
			font-weight: bold;
			color: #000;
		}
	}
}

/* only for  page EVENTS */
body.page-node-85{
	#section-page-title{
		.region-page-title{
			.content{
				display: flex;
				justify-content: space-between;
				div.link_old_events{
					margin-top: 20px;
					height:40px;
					a{
						color: #fff;
						text-decoration: underline;
						margin-right:8px;
					}
					i{
						color: #fff;
						font-size: 24px;
					}
				}
			}
		}
	}
}

#section-tagline{
	background-color: #fff !important;
	border-bottom: none;
	height:70px;
	.container{
		width: 600px;
	}
	.HeaderIntroTextCls{
		font: italic normal normal 30px Segoe UI;
		p{
			line-height: 30px;
			color: #56A459;
			font-weight: 500;
			text-transform:none;
			font-size: 25px;
		}
	}
}

#section-content-top{
	background: #F2F2F2;
	.container{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

body.front #section-header{
	border-bottom: 13px solid #56A459;
}

#section-banner{
	border-top: 5px solid #F2B12E;
}

#section-bottom{
	background-color: #8DC28F !important;
	.region-bottom-third{
		text-align:center;
		.content{
			h1{
				color: white;
				font: normal normal bold 24px/32px Segoe UI;
			}
		}
	}
	.region-bottom-first{
		text-align: center;
		color: white;
		.content{
			ul li{
				color: white;
			}
		}
	}
}

#section-clients{
	background-color: #56A459;
	margin-top: 20px;
	.CollaborazioniCls{
		.view-clients .bx-controls .fa{
			border: 1px solid #5F8CB4;
			color: #5F8CB4;	
		}
		.view-clients .bx-controls a.bx-prev{
			left: -20px;
		}
		.view-clients .bx-controls a.bx-next{
			right: -20px;
		}
		.view-clients .bx-controls a:hover i{
			 background: #5F8CB4;
			 color: white;
		}
		.bx-wrapper .bx-viewport{
			height: 80px !important;
		}
		.bxslide{
			height: 80px;
			padding-top: 10px;
			background: white;
		}
	}
	.ProgettiFooterCls{
		.view-clients .bx-controls .fa{
			border: 1px solid #5F8CB4;
			color: #5F8CB4;	
		}
		.view-clients .bx-controls a.bx-prev{
			left: -20px;
		}
		.view-clients .bx-controls a.bx-next{
			right: -20px;
		}
		.view-clients .bx-controls a:hover i{
			 background: #5F8CB4;
			 color: white;
		}
		.bx-wrapper .bx-viewport{
			height: 270px !important;
		}

		.bx-wrapper img{
			height: 200px;
			width: auto;
		}

		.bxslide{
			height: 80px;
			padding-top: 10px;
			background: white;
			.views-field-title {
				text-align:center;
    			font-weight: bold;
				font-size: 14px;
				margin: 0 auto;
				margin-top: 10px;
				width: 400px;
				a{
					color: black;
				}
			}
		}		
	}
}

body.front #section-clients{
	height: 360px;
}
body.not-front #section-clients{
	.ProgettiFooterCls{
		margin-bottom: 20px;
	}
}

/** TRASPARENZA **/
.TrasparenzaCls {
	.singleTrasparenzaCls{
		margin-bottom: 10px;
	}
}

/** Foto gallery**/
.fotogallerycls .portfolio-filters li a:focus{
	text-decoration: none;
}

.fotogallerycls .item-description h5{
	text-transform: uppercase;
	font-size: 12px;
}

/*** VideoGallery ***/
.view-videogallery .node-videogallery {
   /* padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;*/
}
.view-videogallery .node-videogallery  iframe{
	width: 100%;
}


 .videogallerycls .content .title{
	background-color: #264f73;
    color: #fff;
	text-transform: uppercase;
    font-size: 12px;
	padding-left: 5px;

}
.videogallerycls .videoPlayer{
	line-height: 0px;
}
.videogallerycls .portfolio-filters ul li a:focus{
	text-decoration: none;
}

/*** Nostro team ***/

.team-style-1 .team-item{
	max-width: 220px !important; 
}

.team-style-1 .team-member-info-wrp:after{
	transform: translate(-50%,-50%) rotate(270deg);
    top: 50%;
    left: 200px;
	content: '';
    border: 20px solid;
    position: absolute;
}



.view-team .Presidente .content .team{
	background: #55be5a;
}
.team-style-1 .Presidente .team-member-info-wrp:after  {
	border-color: transparent transparent #55be5a;	  
  }
  
.view-team .Esecutivo .content .team{
	background: #ff5a0f;
}
.team-style-1 .Esecutivo .team-member-info-wrp:after  {
	border-color: transparent transparent #ff5a0f;	  
  }
  
.view-team .Socio .content .team{
	/*background: #41b9e6;*/
	background: #e6ac41;
}
.team-style-1 .Socio .team-member-info-wrp:after  {
	/*border-color: transparent transparent #41b9e6;*/	
	border-color: transparent transparent #e6ac41;	
  }
.view-team .Diaspora .content .team{
	background: cadetblue;
}
.team-style-1 .Diaspora .team-member-info-wrp:after  {
	border-color: transparent transparent cadetblue;	  
  }  

 /** Nascondiamo le due righe bianche in TEAM **/ 
 .view-team .content .team .team-email,
 .view-team .content .team .team-name{
	 border-top: none;
	 border-bottom: none;
 } 
 
 
.view-team .content .team .team-email a,
.view-team .content .team .team-name span{
	color: white;
}

.view-team .content .clearfix{
	max-height: 220px;
}
.region-clients h3.block-title{
	text-align: left;
	color: white;
	font: normal normal normal 23px/31px Segoe UI;
	letter-spacing: 0px;
	border-bottom: 1px solid #fff;
}

.ui-accordion .ui-accordion-content{
	height: auto !important;
}
#section-header .dexp-dropdown a{
	padding: 0px 14px;
}

#section-extra-bottom-4{
	.region-user1, .region-user2, .region-user3{
		p.socialsHeaderCls{
			text-align:left;
			i.fa{
				color: #F2B12E;
				font-size: 26px;
			}
			span{
				font: normal normal bold 18px/24px Segoe UI;
				text-transform: uppercase;
			}
		}
	}
	.region-user1 p.socialsHeaderCls{
		margin-top: -22px;
	}
	.region-user2 p.socialsHeaderCls{
		margin-top: -12px;
	}
}


.team-style-1 .team-about .socialsresponsivecls{
	display: none;
}

/** Elenco progetti **/
.elencoprogetticls .singoloprogetto div.ui-state-active span.ui-icon
{
	background: url("/sites/all/themes/evolve/assets/images/accordion-toggle_white.png") no-repeat 100%;
}

.elencoprogetticls .singoloprogetto:hover div.ui-state-active a:link,
.elencoprogetticls .singoloprogetto:hover div.ui-state-active a{
	color: white;
}
.elencoprogetticls .singoloprogetto .datainizio >span,
.elencoprogetticls .singoloprogetto .datafine >span{
	display: inline-block;
	font-weight: bold;
}
.elencoprogetticls .singoloprogetto .datainizio  div,
.elencoprogetticls .singoloprogetto .datafine  div{
	display: inline-block;
}

/** type progetto **/
body.node-type-progetto{
	div.region-testimonial{
		div.titleBlkCls{
			margin: 0 auto;
			height: 40px;	
			width: 1140px;
			border-bottom: 15px solid#FBE7BE;
			margin-bottom: 10px;

			h3.headline{
				text-align:left;
				font: normal normal bold 20px Segoe UI;
				color: black;
				letter-spacing: unset;
			}
		}
		div.bx-wrapper{
			box-shadow: none;
			margin-bottom: 70px;
			.bx-controls{
				.bx-controls-direction{
					a{
						width: 31px;
						height: 50px;
						background: #F2F2F2 0% 0% no-repeat padding-box;
						opacity: 0.71;
						&.bx-prev{
							left: 15px;
						}
						&.bx-next{
							right: 15px;
						}
						i.fa{
							border: none;
							line-height: 46px;
							&:before{
								color: black;
								font-size: 46px;
								font-weight: bold;
							}
							&.fa-angle-left{
								margin-left: -2px;
							}
							&.fa-angle-right{
								margin-left: 1px;
							}
						}
					}
				}						
			}
			.bx-viewport{
				.bxslider{
					.singleFotoCls[aria-hidden="true"]{
						opacity: 0.5;
					}
				}
			}
		}
		div.NumFotosCls{
			background: white;
			position: absolute;
			bottom: 10px;
			left: 45%;
			font: normal normal bold 14px Segoe UI;
			text-align: center;
			width: 91px;
			height: 24;
			height: 24px;
			opacity: 0.8;
			border-radius: 4px;
		}
	}
}

/** Singola news**/
.node-article .post-format h3.anno{
	font-weight:bold;
	margin-top: 0px;
	color: #5F8CB4;
}


/***Elenco eventi **/
.singoloeventocls.views-row-even {
	.leftcontentcls{
		background: #56A459;
	}
	.rightcontentcls{
		background: #D4E8D5;
	}
}

.singoloeventocls.views-row-odd {
	.leftcontentcls{
		background: #F2B12E;
	}
	.rightcontentcls{
		background: #FBE7BE;
	}
}

.singoloeventocls{
	height: 120px;
	position: relative;
	.leftcontentcls{
		width: 105px;
		height: 95px;
		margin-right: 0px;
		padding: 0px;
		h2.giorno{
			text-align: right;
			letter-spacing: 0px;
			margin: 0px;
			padding-bottom: 0px;
			border-bottom: 1px solid transparent;
			span{
				color: white;
				font: normal normal bold 30px Segoe UI;
			}
		}
		h4.mese{
			text-align: left;
			text-transform: capitalize;
			span{
				color: white;
				font: normal normal bold 19px Segoe UI;
			}			
		}
		h3.anno{
			text-align: left;
			margin-top: -4px !important;
			span{
				color: white !important;
				font: normal normal 300 16px Segoe UI;
				font-weight: 300 !important;
			}
		}
		> div{
			padding: 0px 6px;
		}
	}

	.rightcontentcls{
		width: ~"calc(100% - 105px)";
		height: 95px;
		float:right;
		padding-left: 5px;
		padding-top: 5px;
		margin: 0px;
		h2.titolo{
			font: normal normal bold 18px Segoe UI;
			text-transform: uppercase;
		}
		p.eventolnk{
			position:absolute;
			bottom: 10px;
			a{
				font: normal normal bold 15px Segoe UI;
				color: #353333;
				text-decoration: none;
			}
		}
		p{
			line-height:16px;
			letter-spacing: 0px;
		}
		p:not(.eventolnk){
			margin-bottom:5px;
			font-weight: 400;
		}

	}
}
.singoloeventocls .leftcontentcls h4.mese span{
	font-weight: 600;
} 

.singoloeventocls .leftcontentcls h3.anno{
	margin-top: 0px;
}

.singoloeventocls .leftcontentcls h3.anno span
{
	font-weight: bold;
    margin-top: 0px;
    color: #5F8CB4;
}
/*
.singoloeventocls .rightcontentcls .eventolnk a{
	padding: 4px 6px;
    border: 1px solid #5F8CB4;
    color: #5F8CB4;
}
.singoloeventocls .rightcontentcls .eventolnk  a:hover{
	background: #5F8CB4;
    color: #FFFFFF;
}

.singoloeventocls .rightcontentcls .eventolnk a:focus{
	text-decoration: none;
}
*/
/***BOTTOM**/
.region-bottom-second .haft-left{
	width: 100%;
}

.region-bottom-third .pull-right{
	float: left !important;
}

.region-bottom-third span.fa{
	font-size: 16px;
	margin-right: 10px;
	color: white;
}

/** Webform **/
body.node-type-webform .region-right-sidebar,
body.node-type-webform .region-content {
	width : 50%;
}

body.node-type-webform #edit-submit{
	margin-top: 20px;
}


/**about us **/
body.page-node-90 {
	#section-map{
		.region-map{
			.ourNumbersAboutUsCls .content{
				width: 1140px;
				display: table;
				text-align: center;
				margin: 0 auto;
				div{
					display: table-cell;
					p{
						&.top{
							text-transform: uppercase;
							font: normal normal normal 16px/21px Segoe UI;
							color: black;
							letter-spacing: 0.16px;
						}
						&.middle{
							background: lightgray;
							font: normal normal bold 40px/53px Segoe UI;
							letter-spacing: 0px;
							color: #56A459;
						}
						&.bottom{
							color: #353333;
							text-transform: uppercase;
						}
					}
					&:nth-child(2n+1){
						p.middle{
							color: #F2B12E;
						}
					}
				}
			}
			.descrizioneAiaAboutUsCls{
				padding: 30px 0px;
				background: #FBE7BE;
				margin-top: 20px;
				margin-bottom: 20px;
				.content{
					width: 1140px;
					display: flex;
					justify-content: space-between;
					margin: 0 auto;
					div.left, div.right{
						font: italic normal normal 18px/24px Segoe UI;
						width: 45%;
						letter-spacing: 0px;
					}
				}
			}
		}
	}
	#section-main-content{
		.region-content .main-headline{
			h3.block-title{
				font: italic normal bold 30px/40px Segoe UI;
				letter-spacing: 0px;
				color: #353333;
				text-transform: uppercase;
				border-bottom: 10px solid #F2B12E;
			}
		}
	}
}

/* project */
body.page-node-84{
	#section-page-title{
		margin-bottom: 0px;

		.region-page-title{
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;

			.SostenereProgettiLnkCls{
				.content{
					padding-top: 25px;
					i{
						margin-right: 5px;
						font-size: 20px;
						color: white;
						vertical-align: middle;
					}
					a{
						color: white;
						font-weight: 600;
						text-decoration:underline;
						font-size: 20px;
					}
				}
			}
		}
	}

	#section-map{
		.region-map{
			.DescrizioneProgettiTopCls{
				padding: 30px 0px;
				background: #FBE7BE;
				margin-top: 0px;
				margin-bottom: 20px;
				.content{
					width: 1140px;
					display: flex;
					justify-content: space-between;
					margin: 0 auto;
					div.left, div.right{
						font: italic normal normal 18px/24px Segoe UI;
						width: 45%;
						letter-spacing: 0px;
					}
				}				
			}
		}
	}

	#section-main-content{
		.elencoprogetticls{
			.view-progetti{
				.view-content{
					.rowProgettoCls{
						display: flex;
						justify-content: space-between;
						padding: 15px;
						background: #F2F2F2;
						margin-bottom: 20px;
						div{
							&.right{
								width: 70%;
								position:relative;
								.title{
									font: normal normal bold 17px/22px Segoe UI;
									color: #353333;
								}
								.descriz_breve{
									margin-top: 10px;

								}
								.read_more{
								 position: absolute;
								 bottom: 10px;
									a{
										color: black;
										font: normal normal bold 16px/21px Segoe UI;
									}
								}
							}
							&.left{
								img{
									width: 260px auto;
									max-width: 260px;
								}
							}
						}
					}
				}
			}
		}
	}
}

/*** Trasparenza**/
body.page-node-1584{
	#section-page-title{
		margin-bottom: 0px;

		.region-page-title{
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;

			.SostenereProgettiLnkCls{
				.content{
					padding-top: 25px;
					i{
						margin-right: 5px;
						font-size: 20px;
						color: white;
						vertical-align: middle;
					}
					a{
						color: white;
						font-weight: 600;
						text-decoration:underline;
						font-size: 20px;
					}
				}
			}
		}
	}
	#section-map{
		.region-map{
			 .DescrizioneTrasparenzaTopCls{
				padding: 30px 0px;
				background: #FBE7BE;
				margin-top: 0px;
				margin-bottom: 20px;
				.content{
					width: 1140px;
					display: flex;
					justify-content: space-between;
					margin: 0 auto;
					div.left, div.right{
						font: italic normal normal 18px/24px Segoe UI;
						width: 45%;
						letter-spacing: 0px;
					}
				}				
			}
		}
	}
}

/**Progetto Moumekeng */
body.page-node-1587{
	#section-latest-works{
		.dexp-container{
			width: 1170px;
			margin: 0 auto;
			.nGY2Navigationbar .nGY2NavigationbarItem{
				margin: 5px 55px;
			}
		}
	}
}
/** single project */
body.node-type-progetto {
	#section-page-title{
		h1.page_title{
			text-transform: inherit !important;
		}
	}
	#section-main-content{
		div.container{
			width: 100%;
			padding-left: 0px;
			padding-right: 0px;
			.bodyHeader{
				background: #FBE7BE;
				.bodyHeaderContent{
					width: 1140px;
					display:flex;
					justify-content: space-between;
					margin: 0 auto;
					padding-top: 30px;

					.bodyLeftCls{
						width: 45%;
						font: italic normal normal 18px/24px Segoe UI;
					}
					.bodyRightCls{
						width: 45%;
						font: italic normal normal 18px/24px Segoe UI;
					}
				}
			}
			.node-progetto.clearfix{
				margin-top: 30px;
				.bx-wrapper{
					.bx-controls{
						.bx-controls-direction{
							a{
								width: 31px;
								height: 50px;
								background: #F2F2F2 0% 0% no-repeat padding-box;
								opacity: 0.71;
								&.bx-prev{
									left: 15px;
								}
								&.bx-next{
									right: 15px;
								}
								i.fa{
									border: none;
									line-height: 46px;
									&:before{
										color: black;
										font-size: 46px;
										font-weight: bold;
									}
									&.fa-angle-left{
										margin-left: -2px;
									}
									&.fa-angle-right{
										margin-left: 1px;
									}
								}
							}
						}						
					}
				}
			}
		}
	}
	#section-page-title{
		margin-bottom: 0px;
	}
}

/** Contact Page **/
body.page-node-115{
	#section-main-content{
		div.region-left-sidebar{
			width: 50%;
			h3.headline{
				text-transform: capitalize;
				font: normal normal bold 20px/27px Segoe UI;
			}
			span.brd-headling{
				margin: 0px;
				height: 0px;
			}
			div.content{
				margin-top: -20px;
			}
		}
		div.region-content{
			div.content{
				form.webform-client-form{
					div.form-textarea-wrapper{
						textarea{
							height: 235px;
						}
					}
				}
			}
		}
	}
}

/**Fao job table **/
body.page-node-87  h2.block-title{
	text-transform: uppercase;
}
.faojobtablecls thead th.titlecls{
	width: 40%;
}

.faojobtablecls thead th.duty_stationcls{
	width: 20%;
}

.faojobtablecls tbody td.details img{
	width: 20px;
}
.faojobtablecls tbody tr:nth-child(2n){
	background: #dbdae6;
}

.faojobtablecls tbody tr td.title{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}
.faojobtablecls tbody tr td.title span{
	font-weight: bold;
}

@media screen and (max-width: 1199px){
	#section-header .dexp-dropdown a{
		padding: 0px 10px;
	}
	
	.front .slider-post .bx-viewport,
	.front .slider-post .bx-viewport .bxslide{
		height: 350px !important;
	}
		.region-user2 img{
		width: 294px !important;
		height: 294px !important;
	}
}

@media screen and (max-width: 991px){
	body.node-type-webform .region-right-sidebar,
	body.node-type-webform .region-content {
		width : 100%;
	}
	.front .slider-post .bx-viewport{
		margin-bottom: 20px;
	}
	
	.region-user2 img{
		width: 220px !important;
		height: 220px !important;
	}
	.region-user2  .animated{
	padding: 100px 0 0 0 !important;
	}
	#section-tagline{
		.container{
			width: 100%;
		}
		.HeaderIntroTextCls{
			font: italic normal normal 15px Segoe UI;
		}
	}
	body.front .progettirecentiblkcls  .bxslide  .corpoprogcls{
		div{
			&.backgroundFotoProgettoCls{
				position: relative;
				display: flex;
				justify-content: space-around;
				.titleAndBodyCls{
					background: white;
					opacity: 0.73;
					text-align: left;
					width: 95%;
					margin: 0 auto;
					padding-left: 10px;
					padding-right: 10px;
					position: absolute;
					bottom: 52px;
					.titoloProgettoCls{
						font: normal normal bold 21px Segoe UI;
						color:black;
						a{
							color: black;
							&:hover{
								color:  inherit;
							}
						}
					}
					.bodyProgettoCls{
						font: normal normal 15px Segoe UI;
					}
				}
				img{
					height: 400px !important;
					margin: 0 auto;
				}
			}
		}
	 }
}