@media screen and (max-width: 480px){
	.team-style-1 .team-member-info-wrp:after{
		top: 33%;
	}
	#section-clients .view-clients .bx-controls a.bx-next{
		right: 0px;
	}
	#section-clients .view-clients .bx-controls a.bx-prev{
		left: 0px;
	}
	.team-style-1 .team-item {
    max-width: 180px !important;
	}
	.team-style-1 .team-member-info-wrp:after{
		left: 165px;
	}
	.singoloeventocls .rightcontentcls{
		h2.titolo{
			font: normal normal bold 12px Segoe UI;
			line-height: 16px;
			
		}
		p:not(.eventolnk){
			max-height: 18px;
			overflow: hidden;
			text-overflow: ellipsis;
			font: normal  11px Segoe UI;
		}
		p.eventolnk a{
			font: normal normal bold 12px Segoe UI;
		}
	} 
}